{{> menu id="dashboard"}}

<section class="ui raised segment">
  <header class="ui header">
    Dashboard
  </header>
  <table class="ui fixed table">
    <thead>
      <tr>
        <th>Relay</th>
        <th>Digital sensor</th>
        <th>Analog sensor 1</th>
        <th>Analog sensor 2</th>
        <th>Sensor Value</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td> <a href="/ " class="ui tiny red button"> ON/OFF </a> </td>
          <td> <a href="/" class="ui tiny red button"> ON/OFF </a> </td>
          <td> 21 C </td>
          <td> 67 %</td>
          <td> {{relay}}</td>
        </tr>
    </tbody>
  </table>

</section>

